.view{
    -fx-font-size: 14px;
    -fx-font-family: Arial, Helvetica, sans-serif;
}

*{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.warning{
    color: red;
}

.important{
    font-weight: bold;
}